backend/venv/
backend/uploads/*
!backend/uploads/.gitkeep
backend/database/*.db
frontend/node_modules/
frontend/dist/
.env
backend/__pycache__/
backend/migrations/
backend/.env.example
backend/.vscode/
backend/.pytest_cache/
backend/.mypy_cache/
backend/database/*.sqlite3
